.Statistics {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.tableContainer {
    width: 30%;
    margin: 0 auto;
}
.chartsStatistics {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chartsContainer {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.likechartsContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 1px 3px gray;
}
.topContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.tableContainer {
    width: 45%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
