.Statistics {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-between; 
}

.tableContainer {
    width: 100%; 
    
    margin-left: 200px;
}

.chartsStatistics {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

.chartsContainer {
    width: 100%; 
    margin: 0 200px; 
    display: flex;
    flex-direction: column;
    align-items: flex; 
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 60px;
    box-shadow: 1px 1px 3px gray;
}
